/**
 *@transition name="fade"
 */
  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
/**
  *@transition name="fade-head" 
  */
  .fade-head-enter-active, .fade-head-leave-active {
    transition: opacity 2s;
  }
  .fade-head-enter, .fade-head-leave-to {
    opacity: 0;
  }
/**
  *@transition name=""slide-fade" 
  */
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }